* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    outline: none;
}


body {
    background-color: #8A51FC;

}

.logo {
    width: 300px;
    margin: 20px auto;
    display: block;

}

main {
    background: #F4F4F4;
    width: 375px;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select,
input {
    background: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    
}

button {
    background: #772fd3;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;

}

button:active {
    opacity: 0.6;

}

section {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;

}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777 ;
    font-size: 14px;
    
}
.currency-value, .currency-value-to-convert {

    color: #555555;
    font-weight: 700;
    font-size: 20px;

}